################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/KBCreator/bin/Debug
/KBCreator/obj/Debug
/KBReader/obj/Debug
/KBReader/bin/Debug
/Examinator/Examinator/obj/Debug
/Examinator/Examinator/bin/Debug
